#mainslider {
    padding: 0;
    /*padding-top: 90px;*/
}
.parallax {
    overflow: hidden;
    background-attachment: fixed !important;
    background-position: 50% 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.parallax:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #969696;
    opacity: 0.6;
    z-index: 1;
}
.video-background-container {
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -99;
}

.slider-wrapper{
    position:relative;
    width:100%;
    margin:0 auto;

}
.responisve-container {
    overflow:hidden;
}
.slider{
    position:relative;
    width:100%;
 /*height:400px;  when responsive, comment this out */
    margin:0 auto;
}
.responisve-container {
    overflow: hidden;
}

.fraction-slider{
    position:relative;
    width:100%; height:100%;
    overflow:visible;
}

.fraction-slider .slide{
    display:none; width:100%; height:100%;
    position:absolute;
    z-index:5000;
}
.slide img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.fraction-slider .active-slide{
    z-index:9999;
}

.fraction-slider .fs_obj{
    display:block; display:none;
    position:absolute;
    top:0px; left:100%;
    z-index:7000;
}

.fraction-slider .fs_fixed_obj{
    z-index:6000;
    left:0;
}

.fraction-slider .fs_obj *{
    display:inline-block;
    position:relative;
    top:0px; left:0px;
}

.fs_loader{
    width:100%; height:400px;
    background:url(../images/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
    display:none;
    position:absolute;
    width:45px; height:45px;
    z-index:9999;
}

.fraction-slider .prev{
    left:10px; top:48%;
    background:url(../images/fs.prevnext.png) 0px 0px no-repeat transparent;

}
.fraction-slider .prev:hover{
    background:url(../images/fs.prevnext.png) 0px -45px no-repeat transparent;
}

.fraction-slider .next{
    right:10px; top:48%;
    background:url(../images/fs.prevnext.png) -45px 0px no-repeat transparent;
}
.fraction-slider .next:hover{
    background:url(../images/fs.prevnext.png) -45px -45px no-repeat transparent;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
    display:block;
}


/** PAGER **/

.fs-pager-wrapper{
    position:absolute;
    bottom:5%;
    width: 100%;
    text-align: center;
    z-index:9999;
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
    display:inline-block;
    width:12px;
    height:12px;
    margin:0 3px 0 5px;
    background-color: transparent;
    border:3px solid #fff;
    border-radius: 100%;
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active{
    border-color:#343434;
}

/*mainslider*/
.slider-wrapper p {
    margin-bottom: 16px;
    margin: 0 0 10px;
}
.fs_dark, .fs_light {font-size: 70px;
 text-transform: uppercase;
 color:#FF501E; max-width: 650px;font-family: BebasNeue;
 letter-spacing: 1px;
 text-shadow: rgba(0,0,0,0.9) 1px 2px 2px;
}
.fs_light {color:#fff;}
.fs_description {max-width: 450px; color:#343434; font-size: 20px; line-height: 1.3em;}

#mainslider .theme_btn {
    margin-top: 30px;
    width: auto !important;
}
.theme_btn {
	border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background: #ff511e;
  color: #fff !important;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-family: BebasNeue;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1260px) {
    .video-background-container {
       top: 0;
    }
    .theme_btn{
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .fraction-slider .fs_obj{
        padding: 20px;
    }
}

/*efecto zoom*/
.zoom {
    opacity: 0;
}
.deslizar {
    -webkit-transform: translateY(-90px);
    opacity: 0;
}
.come-in {
    visibility: visible;
    opacity: 0;
    -webkit-animation: emergent 2s ease forwards;
}

@-webkit-keyframes emergent {
    0% {
        -webkit-transform: scale(0);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1.2);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }

}