.Contenedor-principal-izq {
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 51;
    width: 210px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    top: 0;
}
.Contenedor-principal-izq-menu {
    padding: 90px 0 0 0;
}
.Contenedor-menu-izq {
    padding-left: 0px;
}
.Contenedor-menu-izq li {
    list-style: none;
    padding: 0px;
}
.Cn-mn-ptincipal {
    border-bottom: 1px solid #ededec;
}
.Contenedor-menu-izq li a {
    color: #8a8a8a;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding: 16px 10px 16px 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    font-weight: bold;
    font-size: 14px;
}
.Conten-oculto {
    -webkit-transform: translateX(-250px) !important;
    -moz-transform: translateX(-250px) !important;
    -o-transform: translateX(-250px) !important;
    -ms-transform: translateX(-250px) !important;
    transform: translateX(-250px) !important;
}
.Top {
    text-align: left;
}
.Top-izq{
    margin-left: 20px;
}
#Drop{
    margin-right: 20px;
    vertical-align: super;
}

#Drop img{
    filter: saturate(0%);
}