.fondo{
    background:transparent url(../images/fondo.png) repeat top left;
    background-color: rgba(0, 0, 0, 0.64);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100000;
    height: 100%;
    width: 100%;
}
.rp{
    position:fixed;
    top:-200px;
    padding:15px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.52);
    background-color: #1f1f2f;
    font-family: Open-sans-r;
    font-size: 18px;
    color:#FFF;
    text-align: center;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    z-index:101;
    width: 100%;
    display: none;
}

#rp2{
    background-color: #b42d32;
}

.loader {
    box-sizing: border-box;
    display: flex;
    height: 200px;
    justify-content: center;
    position: relative;
    top: 50%;
}

@-webkit-keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
     }
}

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}

.ball-beat > div {
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: ball-beat 0.7s 0s infinite linear;
          animation: ball-beat 0.7s 0s infinite linear;
}

.ball-beat > div:nth-child(2n-1) {
    -webkit-animation-delay: -0.35s !important;
    animation-delay: -0.35s !important;
}

/*loader mientras carga registros en tabla*/
#lista_loader {
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.loader2 {
  margin: 60px auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 77, 128, 0.09);
  border-right: 1.1em solid rgba(0, 77, 128, 0.09);
  border-bottom: 1.1em solid rgba(0, 77, 128, 0.09);
  border-left: 1.1em solid #1f1f2f;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader2,
.loader2:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.placa {
  border: 2px solid #1f1f2f;
  background: #1f1f2f;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-family: Open-sans-b;
  height: 37px;
  padding-left: 0.5em;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 50%;
}

.placa:hover{
    border: 2px solid #1f1f2f;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn {
      border: none;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    font-family: Open-sans-b;
    font-size: 14px;
    background: #b42d32;
    color: #fff !important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    float: right;
    position: relative;
    top: -75px
}

.flecha {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}

/* .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
} */

.flecha-arriba {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.flecha-abajo {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.barra-progreso-fondo {
    color: #000!important;
    background-color: #f1f1f1!important;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.barra-progreso-color {
    color: #fff!important;
    background-color: #df0209!important;
    padding: 0.01em 16px;
    height: 10px;
}
