/*paginacion php*/
/*#pagination_controls
{
	background: #f2f2f2;
	border: 1px solid #C2C1C1;
	color: #FF511E;
	font-weight: bold;
	margin-top: 1em;
	padding: 0.5em;
}
#pagination_controls a
{
	color: #333;
	padding: 0.5em;
	-webkit-transition:.4s;
}
#pagination_controls a:hover
{
	color: #fff;
	background: #FF511E;
	padding: 0.5em;
}*/

/*paginacion jquery*/
#paginacion {
 padding: 3px;
 margin: 3px;
 text-align:center;
 font-family:Open-sans-r;
 font-size:12px;
margin-top: 20px;
 }

#paginacion a {
 padding: 2px 5px 2px 5px;
 margin: 2px;
 border: 1px solid #007799;
 text-decoration: none;
 color: #1f1f2f;
 }
#paginacion a:hover{
 border: 1px solid #1f1f2f;
 color: #000;
 }
#paginacion span.actual {
 padding: 2px 5px 2px 5px;
 margin: 2px;
 border: 1px solid #1f1f2f;
 font-weight: bold;
 background-color: #1f1f2f;
 color: #FFF;
 }
#paginacion span.disabled {
 padding: 2px 5px 2px 5px;
 margin: 2px;
 border: 1px solid #EEE;
 color: #DDD;
 }