@font-face{
font-family: "Open-sans-r";
src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Champagne-r;
  src: url("../fonts/ChampagneLimousines.ttf");
}
body, nav, ul, li, a  {margin: 0; padding: 0;}
body
{
    font-family: "Open-sans-r";
}
a {text-decoration: none;}
.container {
    width: 100%;
    max-width: 960px;
    /*float: right;*/
    margin: -9px auto  -8px auto;
    z-index: 20000;
}
.toggleMenu {
    display:  none;
    /*background: #a3070a;*/
    padding: 10px 15px;
      color: #004D80;
      font-size: 24px;
}
.nav {
    list-style: none;
    text-align: right;
     *zoom: 1;
     /*background:#fff;*/
}
.nav:before,
.nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    font-family: "Open-sans-r";
    font-size: 15px;
    padding: 12px 8px;
    color:#0f3c54;
    -webkit-transition: .3s;
}
.nav a:hover
{
    color: #FF511E;

}
.nav li {
    position: relative;

}
.nav > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
    font-size: 15px !important;
    padding: 1em 0.5em 1.5em 0.5em !important;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #B50303;
    position: relative;
    z-index:100;
    width: 100%;
    border-top: 1px solid #590808;
}
.nav li li a:hover
{
    background: #7E0202;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}
.logo_index {
    text-align: center;
    padding: 1em;
}
.logo_index img{
    width: 360px;
    background-color: #000;
    padding: 45px;
    border-radius: 0.3em;
}
.info_index {
    padding-bottom: 40px;
    text-align: center;
}
.info_index a {
    color: #ff1293;
}
.info_index p{
    color: #fff;
    text-align: center;
    line-height: 17px;
    font-family: Champagne-r;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 9px;
}
.btn {
    background: #ff1293;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    border-bottom: 3px solid #a8045d;
    color: #000 !important;
    font-family: Champagne-b;
    font-size: 25px;
    margin-top: 1.5em;
    padding: 0.5em;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    margin-left: 35px;
}
.skiptranslate {
    display: none;
}

/*estilo pagina servicios*/
.Servicios-dentro-texto div {
    display: none;
}
.Servicios-dentro-texto a {
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #FF511D;
    color: #fff !important;
    position: relative;
    float: right;
    top: -50px;
}

@media screen and (max-width: 1080px) {
    .logo_index img{
        width: 70%;
    }
    .info_index p {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
    }
}
@media screen and (max-width: 1080px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;

    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}
@media screen and (max-width: 960px){
.container
{
  width: 100%;
  max-width: 960px;
  text-align: center;
  /* float: right; */
  padding-top: 10px;
  margin: 10px auto 0px auto;
  z-index: 20000;
}
.nav li {
    position: relative;
    border-bottom: 1px solid #FF511E;
}

}