@font-face {
  font-family: Open-sans-r;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open-sans-b;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: Open-sans-l;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: Open-sans-Ital;
  src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue.otf");
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?at0xm3");
  src: url("../fonts/icomoon.eot?at0xm3#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?at0xm3") format('truetype'), url("../fonts/icomoon.woff?at0xm3") format('woff'), url("../fonts/icomoon.svg?at0xm3#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e907";
}
.icon-editar:before {
  content: "\e903";
}
.icon-images:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-book:before {
  content: "\e90a";
}
.icon-profile:before {
  content: "\e90b";
}
.icon-listar:before {
  content: "\e904";
}
.icon-folder-plus:before {
  content: "\e90c";
}
.icon-credit-card:before {
  content: "\e90d";
}
.icon-pushpin:before {
  content: "\e90e";
}
.icon-location:before {
  content: "\e90f";
}
.icon-alarm:before {
  content: "\e910";
}
.icon-bell:before {
  content: "\e911";
}
.icon-user-tie:before {
  content: "\e901";
}
.icon-cog:before {
  content: "\e902";
}
.icon-bin:before {
  content: "\e912";
}
.icon-cloud-upload:before {
  content: "\e913";
}
.icon-download3:before {
  content: "\e914";
}
.icon-earth:before {
  content: "\e915";
}
.icon-attachment:before {
  content: "\e916";
}
.icon-eliminar:before {
  content: "\e905";
}
.icon-salida:before {
  content: "\e906";
}
body {
  margin: 0px;
  padding: 0px;
}
footer {
  background: #003b63;
  text-align: center;
}
hr {
  border: solid #0765a4;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
  text-align: center;
}
.divi2 {
  border: solid #0076bd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
  text-align: center;
  width: 100%;
}
input,
textarea:focus {
  outline: none;
}
.Blanco {
  background: #1f1f2f;
}
.Contacto {
  background: #5b6171;
  padding-bottom: 2em;
  margin-bottom: -16px;
  width: 100%;
}
.Contacto h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1.5em 0.5em 0.5em 0.5em;
  font-family: BebasNeue;
  text-align: center;
}
.Contacto p {
  color: #fff;
  padding: 0.5em;
  text-align: center;
}
.Contacto-interno {
  margin: 0px auto;
  text-align: center;
  width: 60%;
}
.Contacto-interno-izq,
.Contacto-interno-der {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em;
  width: 40%;
}
.Contacto-interno-izq input,
.Contacto-interno-der input {
  background: #9397a1;
  border: 2px solid #9397a1;
  font-size: 14px;
  font-family: Open-sans-l;
  height: 25px;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 95%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Contacto-interno-izq input:focus,
.Contacto-interno-der input:focus {
  background: #f9f9f9;
  border: 2px solid #b42d32;
}
.Contacto-interno-izq label,
.Contacto-interno-der label {
  color: #fff;
  font-family: Open-sans-l;
  font-family: 14px;
  display: block;
  margin-bottom: 1em;
  text-align: left;
}
.Contacto-interno label {
  color: #fff;
  font-family: Open-sans-l;
  font-family: 14px;
  margin-bottom: 1em;
  display: block;
}
.Contacto-interno textarea {
  background: #9397a1;
  border: 2px solid #9397a1;
  font-size: 14px;
  font-family: Open-sans-l;
  height: 100px;
  padding: 0.5em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 80%;
}
.Contacto-interno textarea:focus {
  background: #f9f9f9;
  border: 2px solid #b42d32;
  color: #000;
}
.Contacto-interno input[type="submit"] {
  border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background: #b42d32;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-family: BebasNeue;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 0.3em 1.5em 0.3em 1.5em;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Contacto-interno input[type="submit"]:hover {
  background: #ff6a3f;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Contenedor-video {
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 614px !important;
  width: 100%;
  z-index: -99;
}
.Contenedor-video-bag {
  width: 100%;
  z-index: -100;
}
.Contenido-admin {
  background: #fff;
  margin: 0px auto;
  padding: 125px 0.8em 0.8em 0.8em;
  width: 90%;
}
.Contenido-admin h2 {
  color: #1f1f2f;
  font-family: BebasNeue;
  font-size: 35px;
  font-weight: 300;
  padding: 0em 0.5em 0.5em 0.5em;
}
.Contenido-admin-izq {
  width: 98%;
}
.Contenido-admin-izq p {
  color: #000;
}
.Contenido-admin-izq label {
  color: #000;
  font-family: Open-sans-b;
}
.Contenido-admin-izq input {
  height: 30px;
  padding-left: 0.5em;
  margin-bottom: 10px;
}
.Contenido-admin-izq input[type="submit"] {
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  font-family: Open-sans-b;
  font-size: 14px;
  background: #b42d32;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Contenido-admin-izq input[type="submit"]:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Conveio-logos {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  width: auto;
}
.Conveio-logos img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 0px auto;
  text-align: center;
  padding: 0.8em;
  width: 180px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Conveio-logos img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.copyright {
  color: #fff;
  font-family: Open-sans-l;
  font-size: 12px;
  ttext-shadow: 0.01em 0.08em #002c27;
}
.copyright img {
  width: 70px;
  padding-bottom: 0.5em;
}
.copyright p {
  margin-top: 19px;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}
.Divisor {
  margin: 0px auto;
  text-align: center;
  width: 50%;
}
.Izquierda {
  text-align: left;
}
.Izquierda li {
  color: #fff;
  margin-left: 2em;
  line-height: 28px;
}
.Slide-contenedor {
  padding-top: 90px;
  height: 500px;
}
.Top {
  background: #fff;
  border-bottom: 2px solid #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0px auto 0px auto;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 200;
}
.Top-izq,
.Top-der {
  display: inline-block;
  vertical-align: top;
}
.Top-izq {
  padding: 0.8em 0.5em 0.5em 0.5em;
  width: 20%;
}
.Top-der {
  margin: 33px 0px 0px 0px;
  width: 70%;
}
.Top-izq img {
  width: 250px;
}
.Top-der ul li {
  display: inline-block;
}
.Top-der ul li a {
  font-family: Open-sans-b;
  font-size: 16px;
  padding: 1em 1em 1.5em 1em;
}
.Top-der ul li a:hover {
  border-bottom: 2px solid #b42d32;
  padding: 1em 1em 1.7em 1em;
}
.Mostrar-certificado {
  margin: 0px auto;
  text-align: center;
  padding-bottom: 2em;
  width: 60%;
}
.Mostrar-certificado label {
  color: #000;
  font-family: Open-sans-b;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}
.Mostrar-certificado input[type="text"] {
  border: 2px solid #ff501e;
  font-family: Open-sans-r;
  padding: 0.5em;
  width: 350px;
}
.Mostrar-certificado input[type="submit"] {
  border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background: #b42d32;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-family: BebasNeue;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 0.3em 1.5em 0.3em 1.5em;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Mostrar-certificado input[type="submit"]:hover {
  background: #ff6a3f;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Mostrar-certificado-detalles {
  background: #f2f2f2;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 30px auto 0px auto;
  padding: 0.5em;
  width: 60%;
}
.Mostrar-certificado-detalles table {
  width: 100%;
}
.Mostrar-certificado-detalles table tbody tr .Mayuscula {
  text-transform: uppercase;
}
.Mostrar-certificado-detalles table tbody tr td {
  color: #000;
  text-align: left;
  padding-left: 10px;
}
.Mostrar-certificado-detalles table tbody tr td h3 {
  color: #1f1f2f;
  font-family: BebasNeue;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 5px 0px 5px 0px;
}
.Mostrar-certificado-detalles a {
  border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background: #b42d32;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-family: BebasNeue;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 0.3em 1.5em 0.3em 1.5em;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Mostrar-certificado-detalles a:hover {
  background: #ff6a3f;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Iconos-centro {
  margin: 0px auto;
  text-align: center;
  width: 90%;
}
.Iconos-centro-iteam {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  width: 20%;
  vertical-align: top;
}
.Iconos-centro-iteam img {
  width: 200px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Iconos-centro-iteam img:hover {
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
}
.Iconos-centro-iteam figcaption h3 {
  font-family: BebasNeue;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 5px;
  color: #ff501e;
}
.Logueo {
  margin: 120px auto 0px auto;
  text-align: center;
  width: 100%;
}
.Logueo-interno {
  background: #fff;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  margin: 0px auto;
  padding: 0.8em;
  width: 350px;
}
.Logueo-interno h2 {
  font-family: BebasNeue;
  color: #1f1f2f;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 300;
  margin-top: 10px;
}
.Logueo-interno img {
  width: 150px;
  padding-top: 10px;
}
.Logueo-interno p {
  color: #333;
  font-family: Open-sans-l;
  font-size: 14px;
}
.Logueo-interno input {
  color: #000;
  font-family: Open-sans-l;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}
.Logueo-interno input:focus {
  border: 1px solid #5ca4f7;
}
.Logueo-interno input[type="submit"] {
  border: none;
  background: #1f1f2f;
  color: #fff;
  cursor: pointer;
  font-family: Open-sans-b;
  font-size: 14px;
}
.Logueo-interno label {
  display: block;
  color: #000;
  font-family: Open-sans-b;
  margin-bottom: 6px;
  text-align: left;
}
.Principal-text {
  background: #1f1f2f;
  margin: 0px auto;
  text-align: center;
  width: 100%;
}
.Principal-text-parrafo {
  width: 60%;
  margin: 0px auto;
  padding: 0.5em 0.5em 2em 0.5em;
}
.Principal-text-parrafo p {
  color: #fff;
  font-family: Open-sans-r;
  font-size: 16px;
  margin: 0px auto;
  text-align: center;
}
.Principal-text-parrafo h2 {
  color: #b42d32;
  font-family: BebasNeue;
  font-weight: 300;
  font-size: 45px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.Registro {
  margin: 10px auto 10px auto;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}
.Registro label {
  display: block;
  font-family: Open-sans-b;
  color: #333;
  text-align: left;
  margin-bottom: 6px;
}
.Registro input {
  border: 2px solid #999;
  font-size: 14px;
  height: 37px;
  padding-left: 0.5em;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 97.5%;
}
.Registro input:focus {
  border: 2px solid #009ade;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Registro input[type="submit"] {
  border: 2px solid #b42d32;
  background: #b42d32;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-family: Open-sans-b;
  height: 37px;
  padding-left: 0.5em;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 92%;
}
.Registro input[type="submit"]:hover {
  border: 2px solid #b42d32;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Registro textarea {
  border: 2px solid #999;
  font-size: 14px;
  height: 50px;
  padding-left: 0.5em;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 97.5%;
}
.Registro textarea:focus {
  border: 2px solid #009ade;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Registro select {
  border: 2px solid #999;
  font-size: 14px;
  height: 36px;
  padding-left: 0.5em;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 97%;
}
.Registro select:focus {
  border: 2px solid #009ade;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.Registro-izq,
.Registro-der {
  display: inline-block;
  padding: 0.5em;
  vertical-align: top;
}
.Registro-izq {
  width: 47%;
}
.Registro-der {
  width: 47%;
}
.Listar-personas {
  width: 100%;
}
.Listar-personas-bloque {
  border: 1px solid #009ade;
  margin: 0.5em;
  padding: 0.5em 0.5em 0.5em 1em;
  width: auto;
}
.Listar-personas-bloque strong {
  color: #000;
  font-family: Open-sans-b;
}
.Listar-personas-bloque p {
  color: #666;
  line-height: 12px;
}
.Listar-personas-bloque a {
  background: #009ade;
  color: #fff;
  margin-left: 0.5em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
.Tabla-listar {
  width: auto;
}
.Tabla-listar table {
  width: 100%;
}
.Tabla-listar table thead tr th {
  background: #1f1f2f;
  font-family: Open-sans-b;
  font-size: 13px;
  text-align: center;
  color: #fff;
  padding: 0.5em 0.3em 0.5em 0.3em;
}
.Tabla-listar table tbody tr td {
  margin: 0.3em auto 0.3em auto;
  height: 28px;
}
.Tabla-listar table tbody tr:hover {
  background: #eee;
  cursor: pointer;
}
.Tabla-listar table tbody tr td a {
  color: #333;
  margin: 0px 5px 0px 5px;
  padding: 5px;
}
.Tabla-listar table tbody tr td p {
  color: #000;
  font-size: 13px;
  text-align: left;
  margin: 0px;
  padding: 0.8em 0.5em 0.8em 0.5em;
}
.Tabla-listar table tbody tr td input {
  height: 25px;
  padding-left: 0.3em;
  width: 95%;
}
.Serivicio-principal {
  background: url("../images/manejo.jpg");
  margin: 0px auto;
  height: 319px;
  width: 92%;
}
.Serivicio-principal h3 {
  padding-top: 174px;
  color: #fff;
  font-size: 19px;
  padding-left: 0.5em;
  letter-spacing: 1px;
  text-shadow: rgba(0,0,0,0.9) 1px 2px 2px;
  padding-right: 0.5em;
}
.Serivicio-principal a {
  background: #ff511d;
  color: #fff;
  padding: 0.5em;
}
.Serivicio-principal a:hover {
  color: #fff;
}
.Secundario-text {
  background: #f3f3f3;
  margin: 0px auto;
  padding-bottom: 1em;
  text-align: center;
  width: 100%;
}
.Secundario-text-parrafo {
  margin: 0px auto;
  padding: 0.5em;
  text-align: center;
  width: 60%;
}
.Secundario-text-parrafo h2 {
  color: #373f44;
  font-family: BebasNeue;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
}
.Servicios-dentro {
  margin: 0px auto;
  text-align: justify;
  width: 60%;
}
.Servicios-dentro-texto {
  width: 100%;
}
.Servicios-dentro-texto h2 {
  color: #1f1f2f;
  font-family: BebasNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}
.Servicios-dentro-texto h3 {
  color: #b42d32;
}
.Servicios-dentro-texto p {
  color: #000;
  font-family: Open-sans-r;
}
.Servicios-dentro-texto ul {
  padding-left: 20px;
}
.Servicios-dentro-texto ul li {
  color: #000;
  font-family: Open-sans-r;
}
.Servicios-dentro-texto img {
  text-align: center;
}
.Tab-slide {
  background: #e5e5e5;
  margin: -8px auto 0px auto;
  text-align: center;
}
.Tab-slide-inside {
  margin: 0px auto;
  text-align: center;
  width: 60%;
}
.Tab-slide-inside ul {
  text-align: center;
}
.Tab-slide-inside ul li {
  display: inline-block;
  padding: 0.8em 0em 0.8em 0em;
  list-style: none;
}
.Tab-slide-inside ul li a {
  color: #333;
  padding: 0.8em 0.5em 0.75em 0.5em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Tab-slide-inside ul li a:hover, .activo  {
  background: #a9a9a9;
  color: #fff !important;
}
.Top-imagen-fondo1 {
  background: url("../images/fondo1.jpg");
  height: 250px;
  width: 100%;
}
.Top-imagen-fondo2 {
  background: url("../images/fondo2.jpg");
  height: 250px;
  width: 100%;
}
.Mapa {
  height: 226px;
  padding-top: 91px;
  width: 100%;
}
.Masshead {
  height: 100px;
}
.Redes {
  background: #1f1f2f;
  margin: 0px auto -20px auto;
  text-align: center;
  width: 100%;
}
.Redes p {
  padding-top: 0.3em;
}
.Redes ul {
  padding-bottom: 0.5em;
}
.Redes ul li {
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}
.Redes .rede {
  display: inline-block;
  vertical-align: top;
}
.Redes .fb-like {
  margin-top: -2px;
}
#mapa2 {
  height: 250px;
  width: 100%;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 500;
}
#loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../images/ring-alt.gif") no-repeat center 0;
  margin: -50px 0 0 -50px;
}
@media screen and (max-width: 1080px) {
  .Contenedor-video {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -99;
  }
  .Contenedor-video-bag {
    width: 100%;
    z-index: -100;
  }
  .Contacto-interno {
    width: 90% !important;
  }
  .Contacto-interno-izq,
  .Contacto-interno-der {
    width: 90%;
  }
  .Iconos-centro {
    margin: 0px auto;
    text-align: center;
    width: 90%;
  }
  .Iconos-centro-iteam {
    width: 80%;
  }
  .Principal-text {
    width: 95%;
  }
  .Principal-text-parrafo {
    margin: 0px auto;
    width: 90%;
  }
  .Principal-text-parrafo p {
    padding: 0px;
  }
  .Secundario-text {
    width: 95%;
  }
  .Secundario-text-parrafo {
    width: 90%;
  }
  .Secundario-text-parrafo img {
    padding: 10px 0px 10px 0px;
  }
  .Servicios-dentro {
    width: 85%;
  }
  .Mapa {
    height: 226px;
    padding-top: 130px;
    width: 100%;
  }
  .Mostrar-certificado {
    width: 90%;
  }
  .Mostrar-certificado input[type="text"] {
    width: 80%;
  }
  .Mostrar-certificado-detalles {
    width: 90%;
  }
  .Tab-slide {
    margin: 60px auto 0px auto;
  }
  .Tab-slide-inside ul li a {
    display: block;
    width: 100%;
  }
  .Top-izq {
    width: 96%;
    padding: 0.8em 0em 0.5em 0em;
  }
  .Top-der {
    margin: 0px;
    width: 100%;
  }
  .Top-der ul li {
    display: block;
    text-align: center;
  }
  .Top-der ul li a {
    padding: 1em;
  }
  .Top-der ul li a:hover {
    border-bottom: none;
    padding: 1em;
  }
  .Slide-contenedor {
    height: 310px;
  }
}
