body
{
	margin: 0;
}

#imgerror
{
	margin: 6em auto 0px auto;
	text-align: center;
	padding: 1em;
}
#imgerror h2
{
	color: #2f92df;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 2.5em;
	line-height: 1;
	text-shadow: rgba(0,0,0,0.9) 2px 2px 2px;
}
#imgerror img
{
	width: 50%;
}