@import "nib"
@font-face
   font-family Roboto-Black
   src url(../assets/fonts/Roboto-Black.ttf)
@font-face
   font-family Roboto-BlackItalic
   src url(../assets/fonts/Roboto-BlackItalic.ttf)
@font-face
   font-family Roboto-Bold
   src url(../assets/fonts/Roboto-Bold.ttf)   
@font-face
   font-family Roboto-BoldCondensed
   src url(../assets/fonts/Roboto-BoldCondensed.ttf)
@font-face
   font-family Roboto-BoldCondensedItalic
   src url(../assets/fonts/Roboto-BoldCondensedItalic.ttf)
@font-face
   font-family Roboto-BoldItalic
   src url(../assets/fonts/Roboto-BoldItalic.ttf)
@font-face
   font-family Roboto-Condensed
   src url(../assets/fonts/Roboto-Condensed.ttf)
@font-face
   font-family Roboto-BoldCondensed
   src url(../assets/fonts/Roboto-BoldCondensed.ttf)
@font-face
   font-family Roboto-CondensedItalic
   src url(../assets/fonts/Roboto-CondensedItalic.ttf)
@font-face
   font-family Roboto-Italic
   src url(../assets/fonts/Roboto-Italic.ttf)
@font-face
   font-family Roboto-Light
   src url(../assets/fonts/Roboto-Light.ttf)
@font-face
   font-family Roboto-LightItalic
   src url(../assets/fonts/Roboto-LightItalic.ttf)
@font-face
   font-family Roboto-Medium
   src url(../assets/fonts/Roboto-Medium.ttf)
@font-face
   font-family Roboto-MediumItalic
   src url(../assets/fonts/Roboto-MediumItalic.ttf)
@font-face
   font-family Roboto-Regular
   src url(../assets/fonts/Roboto-Regular.ttf)
@font-face
   font-family Roboto-Thin
   src url(../assets/fonts/Roboto-Thin.ttf)
@font-face
   font-family Roboto-ThinItalic
   src url(../assets/fonts/Roboto-ThinItalic)

body   
   font-family Roboto-Regular
   margin 0px
   padding 0px
   overflow-x hidden
   -webkit-font-smoothing antialiased
p
   color #333
   line-height 22px
h1   
   font-family Poppins-Bold
   font-size 25px
   font-weight 300
h4
   color #666
   font-family Poppins-Bold
   font-size 20px
   font-weight 300
h3
   color #666
   font-family Poppins-SemiBold
   font-weight 300
   font-size 20px
strong
  font-family Poppins-Bold
@font-face
    font-family 'icomoon'
    src url('../assets/fonts/icomoon.eot?hpvqgn')
    src url('../assets/fonts/icomoon.eot?hpvqgn#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf?hpvqgn') format('truetype'),
        url('../assets/fonts/icomoon.woff?hpvqgn') format('woff'),
        url('../assets/fonts/icomoon.svg?hpvqgn#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


*
   box-sizing border-box

a
  cursor pointer
  text-decoration none
  outline none

body
   background-color #f2f2f2

@import 'icons.styl'
@import 'general.styl'



@media screen and (max-width: 1024px)
  p
    font-size 16px !important
    line-height 28px !important