.Btn-azul {
  background-color: #1f1f2f !important;
  color: #fff !important;
}
.Btn-editar {
  padding: 5px 10px;
  border: 1px solid #666;
  border-radius: 3px;
  color: #666;
  white-space: nowrap;
  background-color: #fff;
  transition: 0.3s;
}
.Btn-editar i {
  font-size: 11px;
  margin-right: 4px;
}
.Btn-editar:hover {
  background-color: #666;
  color: #fff;
  transition: 0.3s;
}
.Btn-bloquear {
  padding: 5px 10px;
  border: 1px solid #f44336;
  border-radius: 3px;
  color: #f44336;
  white-space: nowrap;
  background-color: #fff;
  transition: 0.3s;
}
.Btn-bloquear i {
  font-size: 11px;
  margin-right: 4px;
}
.Btn-bloquear:hover {
  background-color: #f44336;
  color: #fff;
  transition: 0.3s;
}
.Btn-activar {
  padding: 5px 10px;
  border: 1px solid #009688;
  border-radius: 3px;
  color: #009688;
  white-space: nowrap;
  background-color: #fff;
  transition: 0.3s;
}
.Btn-activar i {
  font-size: 11px;
  margin-right: 4px;
}
.Btn-activar:hover {
  background-color: #009688;
  color: #fff;
  transition: 0.3s;
}
.btn-large {
  padding: 0px !important;
}
.Contenedor-formularios {
  width: 100%;
  padding: 10px;
}
.Contenedor-formularios-int {
  width: 100%;
  margin: 7px 0px;
  display: flex;
}
.Div-pocentajes {
  width: 100%;
  display: block;
}
.Divipro {
  border: solid #eaeaea;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
  margin-bottom: 19px;
  text-align: center;
}
.Forms-virtual {
  width: 100%;
}
.Forms-virtual input[type=submit] {
  color: #fff !important;
  font-family: Roboto-Bold;
  padding: 20px 20px;
  cursor: pointer;
}
.Contendor-frag {
  padding: 0px 10px;
}
.Contenedor-tabla {
  width: 100%;
}
.Contenedor-tabla-int {
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}
.Virtual-top {
  background-color: #fff;
  width: 100%;
  position: fixed;
  overflow: auto;
  z-index: 100;
  height: 70px;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}
.Virtual-top-int {
  width: 100%;
  display: flex;
}
.Virtual-top-int-sec {
  padding: 0px 20px;
  display: table;
  position: relative;
  width: 50%;
  height: 70px;
}
.Virtual-top-int-sec-cont {
  display: table-cell;
  vertical-align: middle;
}
.Flotante-crear {
  width: 100%;
  text-align: right;
}
.Table-virtual tbody tr:hover {
  background-color: rgba(63,81,181,0.102) !important;
}
.Texto-introductorio {
  padding: 10px 15px;
}
.Virtual-contenedor-principal {
  position: relative;
  width: 100%;
}
.Virtual-contenedor-principal-izq {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 51;
  width: 250px;
  transition: 0.5s;
}
.Virtual-contenedor-principal-izq-menu {
  padding: 56px 0 0 0;
}
.Virtual-contenedor-principal-der {
  position: relative;
  margin-left: 20px;
  padding: 76px 13px 20px 0px;
  width: auto;
}
.Virtual-contenedor-principal-der-int {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
}
.Virtual-contenedor-principal-titulo {
  width: 100%;
  display: flex;
}
.Virtual-contenedor-principal-titulo-int {
  width: 50%;
}
.Virtual-contenedor-principal-izq-min {
  transform: translateX(-282px);
}
.Contenedor-menu-izq {
  padding-left: 0px;
}
.Contenedor-menu-izq li {
  list-style: none;
  border-bottom: 1px solid #ededec;
}
.Contenedor-menu-izq li a {
  color: #8a8a8a;
  cursor: pointer;
  display: block;
  font-family: Roboto-Bold;
  padding: 16px 10px 16px 30px;
  transition: 0.3s;
}
.Contenedor-menu-izq li a:hover {
  color: #b42d32;
  background-color: #f2f2f2;
}
.Menu-drop,
.Titulo-mediano {
  display: inline-block;
}
.Menu-ham {
  width: 38px;
  margin-right: 20px;
  filter: grayscale(1);
}
.Texto-blanco {
  color: #fff !important;
}
.Contendor-filtros {
  width: 100%;
  position: relative;
}
.Contendor-filtros-int {
  width: 100%;
  padding: 10px;
  display: flex;
}
.F-uno {
  width: 100%;
  margin-bottom: 24px !important;
}
.F-dos {
  width: 50%;
}
.F-tres {
  width: 33.33%;
}
.F-cuatro {
  width: 25%;
}
.Ali-inicial {
  justify-content: flex-start;
}
.Ali-spaciado {
  justify-content: space-between;
}
.Lab-completo {
  display: block;
}
.Titulo-mediano {
  margin: 0px;
  font-family: Roboto-Bold;
  font-size: 18px;
  vertical-align: super;
}
.Titulo-seccion {
  margin: 10px 0px;
  font-family: Roboto-Regular;
  font-size: 20px;
}
.Titulo-grande {
  margin: 10px 0px;
  font-family: Roboto-Bold;
  font-size: 26px;
}
.Contenedor-tabs {
  padding: 20px 0px;
}
.tabs li:hover {
  background-color: rgba(178,199,246,0.2);
}
.tabs li a {
  color: #3f51b5 !important;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(178,199,246,0.2) !important;
}
