@font-face
    font-family Roboto-Black
    src url("../fonts2/Roboto-Black.ttf")

@font-face
    font-family Roboto-BlackItalic
    src url("../fonts2/Roboto-BlackItalic.ttf")

@font-face
    font-family Roboto-Bold
    src url("../fonts2/Roboto-Bold.ttf")

@font-face
    font-family Roboto-BoldCondensed
    src url("../fonts2/Roboto-BoldCondensed.ttf")

@font-face
    font-family Roboto-BoldCondensedItalic
    src url("../fonts2/Roboto-BoldCondensedItalic.ttf")

@font-face
    font-family Roboto-BoldItalic
    src url("../fonts2/Roboto-BoldItalic.ttf")

@font-face
    font-family Roboto-Condensed
    src url("../fonts2/Roboto-Condensed.ttf")

@font-face
    font-family Roboto-BoldCondensed
    src url("../fonts2/Roboto-BoldCondensed.ttf")

@font-face
    font-family Roboto-CondensedItalic
    src url("../fonts2/Roboto-CondensedItalic.ttf")

@font-face
    font-family Roboto-Italic
    src url("../fonts2/Roboto-Italic.ttf")

@font-face
    font-family Roboto-Light
    src url("../fonts2/Roboto-Light.ttf")

@font-face
    font-family Roboto-LightItalic
    src url("../fonts2/Roboto-LightItalic.ttf")

@font-face
    font-family Roboto-Medium
    src url("../fonts2/Roboto-Medium.ttf")

@font-face
    font-family Roboto-MediumItalic
    src url("../fonts2/Roboto-MediumItalic.ttf")

@font-face
    font-family Roboto-Regular
    src url("../fonts2/Roboto-Regular.ttf")

@font-face
    font-family Roboto-Thin
    src url("../fonts2/Roboto-Thin.ttf")

@font-face
    font-family Bebasnew
    src url("../fonts2/BebasNeue.otf")

@font-face
    font-family Roboto-ThinItalic
    src url("../fonts2/Roboto-ThinItalic")

@font-face
    font-family 'icomoon'
    src url("../fonts2/icomoon.eot?317sx9")
    src url("../fonts2/icomoon.eot?317sx9#iefix") format('embedded-opentype'), url("../fonts2/icomoon.ttf?317sx9") format('truetype'), url("../fonts2/icomoon.woff?317sx9") format('woff'), url("../fonts2/icomoon.svg?317sx9#icomoon") format('svg')
    font-weight normal
    font-style normal

[class^="icon-"],
[class*=" icon-"]
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

body
    margin 0px
    padding 0px
    *
        -webkit-box-sizing border-box
        -moz-box-sizing border-box
        box-sizing border-box

a
    text-decoration none

.icon-home
    &:before
        content "\e900"

.icon-office
    &:before
        content "\e903"

.icon-pencil
    &:before
        content "\e905"

.icon-image
    &:before
        content "\e90d"

.icon-images
    &:before
        content "\e90e"

.icon-camera
    &:before
        content "\e90f"

.icon-play
    &:before
        content "\e912"

.icon-bullhorn
    &:before
        content "\e91a"

.icon-connection
    &:before
        content "\e91b"

.icon-mic
    &:before
        content "\e91e"

.icon-file-text
    &:before
        content "\e922"

.icon-profile
    &:before
        content "\e923"

.icon-file-text2
    &:before
        content "\e926"

.icon-file-picture
    &:before
        content "\e927"

.icon-copy
    &:before
        content "\e92c"

.icon-folder
    &:before
        content "\e92f"

.icon-folder-open
    &:before
        content "\e930"

.icon-folder-plus
    &:before
        content "\e931"

.icon-folder-minus
    &:before
        content "\e932"

.icon-folder-download
    &:before
        content "\e933"

.icon-folder-upload
    &:before
        content "\e934"

.icon-coin-dollar
    &:before
        content "\e93b"

.icon-credit-card
    &:before
        content "\e93f"

.icon-calculator
    &:before
        content "\e940"

.icon-phone
    &:before
        content "\e942"

.icon-address-book
    &:before
        content "\e944"

.icon-envelop
    &:before
        content "\e945"

.icon-location
    &:before
        content "\e947"

.icon-clock2
    &:before
        content "\e94f"

.icon-alarm
    &:before
        content "\e950"

.icon-bell
    &:before
        content "\e951"

.icon-calendar
    &:before
        content "\e953"

.icon-printer
    &:before
        content "\e954"

.icon-display
    &:before
        content "\e956"

.icon-laptop
    &:before
        content "\e957"

.icon-floppy-disk
    &:before
        content "\e962"

.icon-undo2
    &:before
        content "\e967"

.icon-redo2
    &:before
        content "\e968"

.icon-bubble
    &:before
        content "\e96b"

.icon-bubbles2
    &:before
        content "\e96d"

.icon-user
    &:before
        content "\e971"

.icon-users
    &:before
        content "\e972"

.icon-user-plus
    &:before
        content "\e973"

.icon-user-minus
    &:before
        content "\e974"

.icon-user-check
    &:before
        content "\e975"

.icon-spinner
    &:before
        content "\e97a"

.icon-spinner2
    &:before
        content "\e97b"

.icon-binoculars
    &:before
        content "\e985"

.icon-search
    &:before
        content "\e986"

.icon-zoom-in
    &:before
        content "\e987"

.icon-zoom-out
    &:before
        content "\e988"

.icon-enlarge
    &:before
        content "\e989"

.icon-key
    &:before
        content "\e98d"

.icon-lock
    &:before
        content "\e98f"

.icon-unlocked
    &:before
        content "\e990"

.icon-wrench
    &:before
        content "\e991"

.icon-cog
    &:before
        content "\e994"

.icon-stats-dots
    &:before
        content "\e99b"

.icon-stats-bars
    &:before
        content "\e99c"

.icon-trophy
    &:before
        content "\e99e"

.icon-gift
    &:before
        content "\e99f"

.icon-rocket
    &:before
        content "\e9a5"

.icon-meter
    &:before
        content "\e9a6"

.icon-bin
    &:before
        content "\e9ac"

.icon-briefcase
    &:before
        content "\e9ae"

.icon-airplane
    &:before
        content "\e9af"

.icon-truck
    &:before
        content "\e9b0"

.icon-road
    &:before
        content "\e9b1"

.icon-accessibility
    &:before
        content "\e9b2"

.icon-switch
    &:before
        content "\e9b6"

.icon-clipboard
    &:before
        content "\e9b8"

.icon-list-numbered
    &:before
        content "\e9b9"

.icon-tree
    &:before
        content "\e9bc"

.icon-cloud
    &:before
        content "\e9c1"

.icon-download3
    &:before
        content "\e9c7"

.icon-earth
    &:before
        content "\e9ca"

.icon-attachment
    &:before
        content "\e9cd"

.icon-eye-plus
    &:before
        content "\e9cf"

.icon-eye-blocked
    &:before
        content "\e9d1"

.icon-warning
    &:before
        content "\ea07"

.icon-notification
    &:before
        content "\ea08"

.icon-question
    &:before
        content "\ea09"

.icon-plus
    &:before
        content "\ea0a"

.icon-minus
    &:before
        content "\ea0b"

.icon-info
    &:before
        content "\ea0c"

.icon-cancel-circle
    &:before
        content "\ea0d"

.icon-blocked
    &:before
        content "\ea0e"

.icon-cross
    &:before
        content "\ea0f"

.icon-checkmark
    &:before
        content "\ea10"

.icon-enter
    &:before
        content "\ea13"

.icon-exit
    &:before
        content "\ea14"

.icon-checkbox-checked
    &:before
        content "\ea52"

.icon-share2
    &:before
        content "\ea82"

.icon-google3
    &:before
        content "\ea8a"

.icon-hangouts
    &:before
        content "\ea8e"

.icon-facebook2
    &:before
        content "\ea91"

.icon-instagram
    &:before
        content "\ea92"

.icon-whatsapp
    &:before
        content "\ea93"

.icon-twitter
    &:before
        content "\ea96"

.icon-skype
    &:before
        content "\eac5"

.icon-linkedin
    &:before
        content "\eac9"

.icon-file-pdf
    &:before
        content "\eadf"

.icon-file-excel
    &:before
        content "\eae2"

.Btn-rojo
    background #ea1920
    border none
    cursor pointer
    font-family Bebasnew
    font-size 20px
    letter-spacing 1px
    color #fff
    outline none
    margin-top 10px
    padding 10px 20px
    -webkit-transition 0.3s
    -moz-transition 0.3s
    -o-transition 0.3s
    -ms-transition 0.3s
    transition 0.3s
    &:hover
        background #ba1c21

.Boton-nosotros
    cursor pointer
    background #1f1f2f

.Beba
    color #565664
    font-family Bebasnew
    font-size 20px
    font-weight 300

.Contenedor-desc
    width 100%

.Contenedor-desc-int
    width 100%

.Contendor-descripcion
    background #f6f6f8
    padding 30px 40px
    li
        font-family Roboto-Regular
        color #2e2c2c
        font-size 16px
        line-height 24px
    p
        font-family Roboto-Regular
        color #2e2c2c
        font-size 16px
        line-height 24px
    h3
        font-family Roboto-Bold
        color #b42d30
        text-transform uppercase

.context
    h2
        color #fff
        font-family Roboto-Bold
        font-size 44px
        text-shadow #010101 1px 2px 2px

.C-blanco
    background #fff
    padding 20px
    width 100%
    height 335px
    overflow auto
    p
        color #666
        font-size 16px
        line-height 24px
        text-align justify
        font-family Roboto-Regular
    h3
        color #b42d32
        font-weight 300
        font-size 24px
        font-family Bebasnew

.Icon-rojo
    color #b42d32
    font-size 16px
    padding-right 10px

.Contacto
    width 100%
    input[type=text]
        border 1px solid #999
        outline none
        font-family Roboto-Regular
        font-size 14px
        height 45px
        padding 10px
        margin-bottom 15px
        width 90%
    input[type=text]:focus
        border 1px solid #b42d32
    input[type=email]
        border 1px solid #999
        outline none
        font-family Roboto-Regular
        font-size 14px
        height 45px
        padding 10px
        margin-bottom 15px
        width 90%
    input[type=email]:focus
        border 1px solid #b42d32
    textarea
        border 1px solid #999
        outline none
        font-family Roboto-Regular
        font-size 14px
        height 140px
        padding 10px
        margin-bottom 15px
        width 90%
        &:focus
            border 1px solid #b42d32

.Footer
    background #b42d32
    padding 20px 10px
    width 100%

.Footer-int
    width 100%
    p
        color #fff
        font-family Roboto-Regular
        font-size 14px
        text-align center
        a
            color #fff

.Nav_tabs
    width 100%

.Nav_tabs_back
    margin 0px auto
    nav
        width 100%
        .Tabs
            margin 0px
            padding 0px
            li
                display table-cell
                cursor pointer
                vertical-align middle
                text-align center
                margin 0px
                height 90px
                padding 0px 15px
                list-style none
                width 16.66666%
                a
                    color #fff
                    font-family Roboto-Regular
.Nav-6
    background #ec787a
    -webkit-transition 0.3s
    -moz-transition 0.3s
    -o-transition 0.3s
    -ms-transition 0.3s
    transition 0.3s
    &:hover
        background #be3a3e
.Nav-5
    background #b42d30
    -webkit-transition 0.3s
    -moz-transition 0.3s
    -o-transition 0.3s
    -ms-transition 0.3s
    transition 0.3s
    &:hover
        background #be3a3e

.Nav-4
    background #c83e41
    -webkit-transition 0.3s
    -moz-transition 0.3s
    -o-transition 0.3s
    -ms-transition 0.3s
    transition 0.3s
    &:hover
        background #be3a3e

.Nav-3
    background #dd4549
    -webkit-transition 0.3s
    -moz-transition 0.3s
    -o-transition 0.3s
    -ms-transition 0.3s
    transition 0.3s
    &:hover
        background #be3a3e

.Nav-2
    background #dd5c5f
    -webkit-transition 0.3s
    -moz-transition 0.3s
    -o-transition 0.3s
    -ms-transition 0.3s
    transition 0.3s
    &:hover
        background #be3a3e

.Nav-1
    background #ed696c
    -webkit-transition 0.3s
    -moz-transition 0.3s
    -o-transition 0.3s
    -ms-transition 0.3s
    transition 0.3s
    &:hover
        background #be3a3e

.Top-sup
    background #b42d32
    width 100%

.Top-sup-int
    margin 0px auto
    padding 8px 0px
    width 80%
    p
        color #fff
        font-family Roboto-Regular
        text-align right
        margin 0px
        span
            a
                color #fff
                i
                    padding-left 10px

.Top-inf
    background #1f1f2f
    padding 15px 0px
    width 100%

.Top-inf-int
    margin 0px auto
    nav
        text-align center
        width 100%
        ul
            margin 0px
            padding 0px
            li
                display inline-block
                margin 0px
                list-style none
                padding 0px
                a
                    color #fff
                    font-family Bebasnew
                    font-size 24px
                    font-weight 300
                    letter-spacing 0.5px
                    padding 15px 30px
                    -webkit-transition 0.3s
                    -moz-transition 0.3s
                    -o-transition 0.3s
                    -ms-transition 0.3s
                    transition 0.3s
                    &:hover
                        background #b42d32

.Top-med
    background #fff
    display -webkit-box
    display -moz-box
    display -webkit-flex
    display -ms-flexbox
    display box
    display flex
    -webkit-box-align center
    -moz-box-align center
    -o-box-align center
    -ms-flex-align center
    -webkit-align-items center
    align-items center
    padding 20px 0px
    width 100%

.Top-med-int
    margin 0px auto
    width 80%

.Top-med-int-sec
    display table-cell
    vertical-align middle
    width 29%
    img
        width 180px

.Top-med-int-sec-int
    p
        color #666
        font-size 12px
        font-family Roboto-Regular

.Rojo
    color #b42d32
    letter-spacing -3.5px
    padding 0px 10px 0px 5px

.Rojo-text
    color #b42d32 !important
    margin 0px
    padding 10px 20px !important
    margin-bottom 20px
    text-align left !important

.Seccion1
    width 100%
    padding 2em 0px 4em 0px

.Seccion1-int
    margin 0px auto
    width 80%
    h2
        color #1f1f2f
        text-align center
        font-size 26px
        font-family Bebasnew
        font-weight 300
        padding 1em 0px
    p
        color #666
        font-family Roboto-Regular
        text-align center
        line-height 24px

.Seccion2
    background-image url("../images/bg2.jpg")
    background-position center center
    background-repeat no-repeat
    -webkit-background-size cover
    -moz-background-size cover
    background-size cover
    padding 2em 0px 4em 0px
    width 100%

.Seccion2-int
    margin 0px auto
    width 80%
    h2
        color #1f1f2f
        text-align center
        font-size 26px
        font-family Bebasnew
        font-weight 300
        padding 1em 0px

.Seccion2-int-sec
    display inline-block
    vertical-align top
    width 49.6%

.Seccíon3
    padding 2em 0px 5em 0px
    width 100%

.Seccíon3-int
    margin 0px auto
    width 80%
    h2
        color #1f1f2f
        text-align center
        font-size 26px
        font-family Bebasnew
        font-weight 300
        padding 1em 0px

.Seccion4
    background-image url("../images/bg3.jpg")
    background-position center center
    background-repeat no-repeat
    -webkit-background-size cover
    -moz-background-size cover
    background-size cover
    padding 2em 0px 4em 0px
    width 100%
.Mostrar-cert
    width 100%
    &-int
        margin 0px auto
        padding 2em 0px 4em 0px
        width 80%
        p
            text-align center
.Mostrar-cert-content
    width 100%
    p
        font-family Roboto-Regular
        margin-bottom 40px
        line-height 26px

.Btn-licencia
    background #ea1920
    border none
    cursor pointer
    font-family Bebasnew
    font-size 20px
    letter-spacing 1px
    color #fff
    outline none
    margin-top 10px
    padding 10px 20px
    transition .3s
    &:hover
        background #20202f

.Seccion4-int
    margin 0px auto
    width 80%

.Seccion4-int-sec
    display inline-block
    vertical-align top
    width 49.6%
    h2
        color #fff
        text-align center
        font-size 26px
        font-family Bebasnew
        font-weight 300
        padding 1em 0px 0em 0px
    p
        color #61616f
        font-size 14px
        line-height 24px
        font-family Roboto-Regular

.Seccion4-form
    width 100%
    input[type=text]
        background #656571
        font-family Roboto-Regular
        border 1px solid #656571
        border none
        padding 5px 15px
        height 45px
        width 100%
        outline none
        margin-bottom 10px
        -webkit-transition 0.3s
        -moz-transition 0.3s
        -o-transition 0.3s
        -ms-transition 0.3s
        transition 0.3s
    input[type=text]:focus
        border 1px solid #f00
    label
        color #61616f
        display block
        font-size 14px
        line-height 24px
        font-family Roboto-Regular
        margin-bottom 10px

::placeholder
    color #c9cad1

.Seccion5
    padding 2em 0px 4em 0px
    width 100%
.Content-img
    width 100%
    &-int
        width 100%
        display flex
        height 270px
        &-sec
            overflow hidden
            margin 0px 5px
            width 33%
            img
                width 100%
                transition 1.3s
                &:hover
                    transition 1.3s
                    transform scale(1.1)
.Curso-bloque
    width 100%
    h2
        text-align center
        font-family Bebasnew
.Curso-bloque-p
    width 100%
    text-align center
    h2
        font-family Bebasnew
        font-weight 300
.Curso-bloque-int
    position relative
    width 100%
    display flex
    &-sec
        width 33%
        padding 0px 10px
        img
            width 100%
        h3
            font-family  Roboto-Bold
            text-align left
        p
            font-family Roboto-Regular
            text-align left
            font-size 14px
            line-height 22px
.Mod-servi
   background-image url(../images/fnd-serv.jpg)
   background-position center center
   background-repeat no-repeat
   background-size cover
   display table
   position relative
   // height 100vh
   width 100%
   &-int
      display table-cell
      margin 0px auto
      text-align center
      padding-top 2em
      vertical-align middle
      width 90%
      &-sec
         background #fff
         cursor pointer
         border-radius 10px
         box-shadow 0 87px 76px -38px rgba(40,48,78,0.26)
         display inline-block
         vertical-align top
         margin 0px 10px 20px 10px  
         position relative       
         width 300px
         &:hover > img
            width 200px
            
         img
            width 100%
         h3
            color #201f2f
            font-family Roboto-Bold
.Mod-efecto
   opacity 1
   display block
   width 100%
   height auto
   transition .5s ease
   backface-visibility hidden
.Mod-separador
   margin 0px auto
   width 90%
   
.Mod-efecto-medio
   transition .5s ease
   opacity 0
   position absolute
   top 50%
   left 50%
   transform translate(-50%, -50%)
   -ms-transform translate(-50%, -50%)
   text-align center
.Conten-aula-virtual
  position fixed
  bottom 10px
  left 10px
  &-int
    background-color #b42d31
    border-radius 5px   
    padding 10px 20px
    box-shadow 0 2px 5px 0 #00000029, 0 2px 10px 0 #0000001f
    a
      color #fff
      font-family Arial
      i
        padding-right 5px
.Mod-servi-int-sec:hover .Mod-efecto
   opacity 0.3
.Mod-servi-int-sec:hover .Mod-efecto-medio
   opacity 1
.Mod-texto-medio
   background-color #b42d30
   font-family Roboto-Bold
   color white
   font-size 16px
   padding 16px 32px
.Seccion5-int
    margin 0px auto
    width 80%
    h2
        color #1f1f2f
        text-align center
        font-size 26px
        font-family Bebasnew
        font-weight 300
        padding 1em 0px
.CertIcon
    margin 0px auto
    width 80%
    text-align center
    img
        width 200px
.Seccion5-int-sec
    display inline-block
    vertical-align top
    width 49.6%

.Seccion5-int-sec-contact
    width 100%
    p
        color #666
        font-family Roboto-Regular
        text-align left
        line-height 24px
    h3
        color #b42d32
        font-family Bebasnew
        font-weight 300
        margin-bottom 0px

.Mapa
    height 400px
    width 100%

@media screen and (max-width: 1024px)
    .Ocul
        display none
    .Top-med-int
        width 90%
    .Top-med-int-sec
        img
            width 90px
    .Top-inf-int
        width 90%
        nav
            ul
                li
                    display block
                    a
                        display block
    .Mostrar-cert-content p a
        display block
        
        
    .Seccion2-int
        width 90%
    .Seccion2-int-sec
        width 100%
    .Seccion4-int
        width 90%
    .Seccion4-int-sec
        width 100%
    .Seccíon3-int
        width 100%
    .Seccion5-int
        width 90%
    .Seccion5-int-sec
        width 100%
    .Content-img
        display block
        &-int
            display block
            height auto
            &-sec
                width 100%
    .Curso-bloque-int
        width 100%
        display block
        &-sec
            width 100%
    
    .Contacto
        input
            width 100% !important
        textarea
            width 100% !important
    .Nav_tabs_back
        nav
            .Tabs
                li
                    display block
                    height auto
                    padding 15px 15px
                    width 100%