@import "nib"
@font-face
   font-family Open-sans-r
   src url(../fonts/OpenSans-Regular.ttf)
@font-face
   font-family Open-sans-b
   src url(../fonts/OpenSans-Bold.ttf)
@font-face
   font-family Open-sans-l
   src url(../fonts/OpenSans-Light.ttf)
@font-face
   font-family Open-sans-Ital
   src url(../fonts/OpenSans-Italic.ttf)
@font-face
	font-family: BebasNeue
	src url(../fonts/BebasNeue.otf)
@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?at0xm3')
  src url('../fonts/icomoon.eot?at0xm3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?at0xm3') format('truetype'),
    url('../fonts/icomoon.woff?at0xm3') format('woff'),
    url('../fonts/icomoon.svg?at0xm3#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


.icon-home:before
    content "\e900"

.icon-newspaper:before
    content "\e907"

.icon-editar:before
    content "\e903"

.icon-images:before
    content "\e908"

.icon-play:before
    content "\e909"

.icon-book:before
    content "\e90a"

.icon-profile:before
    content "\e90b"

.icon-listar:before
    content "\e904"

.icon-folder-plus:before
    content "\e90c"

.icon-credit-card:before
    content "\e90d"

.icon-pushpin:before
    content "\e90e"

.icon-location:before
    content "\e90f"

.icon-alarm:before
    content "\e910"

.icon-bell:before
    content "\e911"

.icon-user-tie:before
    content "\e901"

.icon-cog:before
    content "\e902"

.icon-bin:before
    content "\e912"

.icon-cloud-upload:before
    content "\e913"

.icon-download3:before
    content "\e914"

.icon-earth:before
    content "\e915"

.icon-attachment:before
    content "\e916"

.icon-eliminar:before
    content "\e905"

.icon-salida:before
    content "\e906"
body
	margin 0px
	padding 0px
footer
	background #003B63
	text-align center
hr
	border solid #0765A4
	border-width 1px 0 0
	clear both
	margin 1.25rem 0 1.1875rem
	height 0
	text-align center
.divi2
	border solid #0076BD
	border-width 1px 0 0
	clear both
	margin 1.25rem 0 1.1875rem
	height 0
	text-align center
	width 100%
input, textarea:focus
	outline none
.Blanco
	background #004D80
.Contacto
	background #5b6171
	padding-bottom 2em
	margin-bottom -16px
	width 100%
	h2
		color #fff
		font-size 30px
		font-weight 300
		letter-spacing 1px
		padding 1.5em 0.5em 0.5em 0.5em
		font-family BebasNeue
		text-align center
	p
		color #fff
		padding 0.5em
		text-align center

	&-interno
		margin 0px auto
		text-align center
		width 60%

		&-izq, &-der
			display inline-block
			vertical-align top
			padding 0.5em
			width 40%
			input
				background #9397A1
				border 2px solid #9397A1
				font-size 14px
				font-family Open-sans-l
				height 25px
				margin-bottom 1em
				padding 0.5em
				width 95%
				transition .3s
				&:focus
					background #f9f9f9
					border 2px solid #FF511E


			label
				color #fff
				font-family Open-sans-l
				font-family 14px
				display block
				margin-bottom 1em
				text-align left
		label
			color #fff
			font-family Open-sans-l
			font-family 14px
			margin-bottom 1em
			display block

		textarea
			background #9397A1
			border 2px solid #9397A1
			font-size 14px
			font-family Open-sans-l
			height 100px
			padding 0.5em
			transition .3s
			width 80%
			&:focus
				background #f9f9f9
				border 2px solid #FF511E
				color #000
		input[type="submit"]
			border none
			box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
			background #FF511E
			color #fff
			cursor pointer
			display block
			font-size 24px
			font-family BebasNeue
			font-weight 300
			letter-spacing 1px
			margin 20px auto 0px auto
			padding 0.3em 1.5em 0.3em 1.5em
			text-align center
			transition .3s
			&:hover
				background #FF6A3F
				box-shadow 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
.Contenedor-video
	position absolute
	top -100px
	bottom 0
	left 0
	right 0
	height 614px !important
	width 100%
	z-index -99
	&-bag
		width 100%
		z-index -100
.Contenido-admin
	background #fff
	margin 0px auto
	padding 125px 0.8em 0.8em 0.8em
	width 1024px
	h2
		color #004d80
		font-family BebasNeue
		font-size 35px
		font-weight 300
		padding 0em 0.5em 0.5em 0.5em
	&-izq
		width 98%
		p
			color #000
		label
			color #000
			font-family Open-sans-b
		input
			height 30px
			padding-left 0.5em
			margin-bottom 10px
		input[type="submit"]
			border none
			cursor pointer
			box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
			font-family Open-sans-b
			font-size 14px
			background #FF511E
			color #fff
			transition .3s
			&:hover
				box-shadow 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)


.Conveio-logos
	display inline-block
	margin 0px auto
	text-align center
	width auto
	img
		-webkit-filter grayscale(100%)
		filter grayscale(100%)
		margin 0px auto
		text-align center
		padding 0.8em
		width 180px
		transition .3s
		&:hover
			-webkit-filter grayscale(0%)
			filter grayscale(0%)

.copyright
	color #fff
	font-family Open-sans-l
	font-size 12px
	ttext-shadow 0.01em 0.08em #002c27
.copyright img
	width 70px
	padding-bottom 0.5em
.copyright p
	margin-top 19px


.copyright a
	color #fff
	text-decoration none
.Divisor
	margin 0px auto
	text-align center
	width 50%
.Izquierda
	text-align left

	li
		color #fff
		margin-left 2em
		line-height 28px
.Slide-contenedor
	padding-top 90px
	height 500px
.Top
	background #fff
	border-bottom 2px solid #fff
	box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
	// height 89px
	margin 0px auto 0px auto
	text-align center
	position fixed
	width 100%
	z-index 200
	&-izq, &-der
		display inline-block
		vertical-align top
	&-izq
		padding 0.8em 0.5em 0.5em 0.5em
		width 30%
	&-der
		margin 33px 0px 0px 0px
		width 60%
	&-izq img
		width 250px
	&-der ul li
		display inline-block
		a
			font-family Open-sans-b
			font-size 16px
			padding 1em 1em 1.5em 1em
			&:hover
				border-bottom 2px solid #FF511E
				padding 1em 1em 1.7em 1em
.Mostrar-certificado
	margin 0px auto
	text-align center
	padding-bottom 2em
	width 60%
	label
		color #000
		font-family Open-sans-b
		font-size 16px
		margin-bottom 10px
		display block

	input[type="text"]
		border 2px solid #FF501E
		font-family Open-sans-r
		padding 0.5em
		width 350px
	input[type="submit"]
		border none
		box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
		background #FF511E
		color #fff
		cursor pointer
		display block
		font-size 24px
		font-family BebasNeue
		font-weight 300
		letter-spacing 1px
		margin 20px auto 0px auto
		padding 0.3em 1.5em 0.3em 1.5em
		text-align center
		transition .3s
		&:hover
			background #FF6A3F
			box-shadow 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
	&-detalles
		background #f2f2f2
		box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
		border-radius 3px
		margin 30px auto 0px auto
		padding 0.5em
		width 60%
		table
			width 100%
			tbody tr .Mayuscula
				text-transform uppercase
			tbody tr td
				color #000
				text-align left
				padding-left 10px
				h3
					color #004d80
					font-family BebasNeue
					font-weight 300
					letter-spacing 1px
					margin 5px 0px 5px 0px
		a
			border none
			box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
			background #FF511E
			color #fff
			cursor pointer
			display block
			font-size 24px
			font-family BebasNeue
			font-weight 300
			letter-spacing 1px
			margin 20px auto 0px auto
			padding 0.3em 1.5em 0.3em 1.5em
			text-align center
			transition .3s
			&:hover
				background #FF6A3F
				box-shadow 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)



.Iconos-centro
	margin 0px auto
	text-align center
	width 90%
	&-iteam
		display inline-block
		padding 0.5em
		margin 0.5em 0.5em 0.5em 0.5em
		width 20%
		vertical-align top
		img
			width 200px
			transition .3s
			&:hover
				filter grayscale(70%)
				-webkit-filter grayscale(70%)
		figcaption h3
			font-family BebasNeue
			font-weight 300
			font-size 30px
			letter-spacing 1px
			margin-top 5px
			color #FF501E
.Logueo
	margin 120px auto 0px auto
	text-align center
	width 100%
	&-interno
		background #fff
		box-shadow 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)

		margin 0px auto
		padding 0.8em
		width 350px
		h2
			font-family BebasNeue
			color #004D80
			letter-spacing 1px
			font-size 32px
			font-weight 300
			margin-top 10px
		img
			width 150px
			padding-top 10px
		p
			color #333
			font-family Open-sans-l
			font-size 14px
		input
			color #000
			font-family Open-sans-l
			height 35px
			margin-bottom 10px
			padding-left 5px
			transition .3s
			width 100%
			&:focus
				border 1px solid #5CA4F7
		input[type="submit"]
			border none
			background #004D80
			color #fff
			cursor pointer
			font-family Open-sans-b
			font-size 14px
		label
			display block
			color #000
			font-family Open-sans-b
			margin-bottom 6px
			text-align left
.Principal-text
	background #004D80
	margin 0px auto
	text-align center
	width 100%
	&-parrafo
		width 60%
		margin 0px auto
		padding 0.5em 0.5em 2em 0.5em
	&-parrafo p
		color #fff
		font-family Open-sans-r
		font-size 16px
		margin 0px auto
		text-align center

	&-parrafo h2
		color #FF511E
		font-family BebasNeue
		font-weight 300
		font-size 45px
		margin-bottom 10px
		letter-spacing 1px

.Registro
   margin 10px auto 10px auto
   padding-bottom 2em
   text-align center
   width 100%
   label
      display block
      font-family Open-sans-b
      color #333
      text-align left
      margin-bottom 6px
   input
      border 2px solid #999
      font-size 14px
      height 37px
      padding-left 0.5em
      margin-bottom 10px
      transition .3s
      width 97.5%
      &:focus
         border 2px solid #009ADE
         box-shadow 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15)
    input[type="submit"]
    	border 2px solid #FF511E
    	background #FF511E
    	font-size 16px
    	color #fff
    	cursor pointer
    	font-family Open-sans-b
    	height 37px
	    padding-left 0.5em
	    margin-bottom 10px
	    transition .3s
	    width 92%
	    &:hover
	    	border 2px solid #FF511E
	    	box-shadow 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15)
   textarea
      border 2px solid #999
      font-size 14px
      height 50px
      padding-left 0.5em
      margin-bottom 10px
      transition .3s
      width 97.5%
      &:focus
         border 2px solid #009ADE
         box-shadow 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15)

   select
      border 2px solid #999
      font-size 14px
      height 36px
      padding-left 0.5em
      margin-bottom 10px
      transition .3s
      width 97%
      &:focus
         border 2px solid #009ADE
         box-shadow 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15)
   &-izq, &-der
      display inline-block
      padding 0.5em
      vertical-align top
   &-izq
      width 47%
   &-der
      width 47%
.Listar-personas
   width 100%
   &-bloque
      border 1px solid #009ade
      margin 0.5em
      padding 0.5em 0.5em 0.5em 1em
      width auto
      strong
         color #000
         font-family Open-sans-b
      p
         color #666
         line-height 12px
      a
         background #009ade
         color #fff
         margin-left 0.5em
         padding 0.2em 0.5em 0.2em 0.5em
.Tabla-listar
	width auto
	table
		width 100%
		thead tr th
			background #004D80
			font-family Open-sans-b
			font-size 13px
			text-align center
			color #fff
			padding 0.5em 0.3em 0.5em 0.3em
		tbody tr td
			margin 0.3em auto 0.3em auto
			height 28px
		tbody tr:hover
			background #eee
			cursor pointer
		tbody tr td a
			color #333
			margin 0px 5px 0px 5px
			padding 5px
		tbody tr td p
			color #000
			font-size 13px
			text-align left
			margin 0px
			padding 0.8em 0.5em 0.8em 0.5em
		tbody tr td input
			height 25px
			padding-left 0.3em
			width 95%
.Serivicio-principal
	background url("../images/manejo.jpg")
	margin 0px auto
	height 319px
	width 92%
	h3
		padding-top 174px
		color #fff
		font-size 19px
		padding-left 0.5em
		letter-spacing 1px
		text-shadow rgba(0,0,0,0.9) 1px 2px 2px
		padding-right 0.5em
	a
		background #FF511D
		color #fff
		padding 0.5em
		&:hover
			color #fff
.Secundario-text
	background #f3f3f3
	margin 0px auto
	padding-bottom 1em
	text-align center
	width 100%
	&-parrafo
		margin 0px auto
		padding 0.5em
		text-align center
		width 60%
	&-parrafo h2
		color #373F44
		font-family BebasNeue
		font-weight 300
		font-size 30px
		letter-spacing 1px
.Servicios-dentro
	margin 0px auto
	text-align justify
	width 60%
	&-texto
		width 100%
		h2
			color #004d80
			font-family BebasNeue
			font-weight 300
			font-size 28px
			letter-spacing 1px
		h3
			color #FF511E
		p
			color #000
			font-family Open-sans-r
		ul
			padding-left 20px
		ul li
			color #000
			font-family Open-sans-r
		img
			text-align center

.Tab-slide
	background #E5E5E5
	margin -8px auto 0px auto
	text-align center
	&-inside
		// border 1px solid red
		margin 0px auto
		text-align center
		width 60%
		ul
			text-align center
			li
				display inline-block
				padding 0.8em 0em 0.8em 0em
				list-style none
				a
					color #333
					padding 0.8em 0.5em 0.75em 0.5em
					transition .3s
					&:hover
						background #A9A9A9
						color #fff
.Top-imagen-fondo1
	background url(../images/fondo1.jpg)
	height 250px
	width 100%
.Top-imagen-fondo2
	background url(../images/fondo2.jpg)
	height 250px
	width 100%
.Mapa
	height 226px
	padding-top 91px
	width 100%
.Masshead
	height 100px
.Redes
	background #004D80
	margin 0px auto -20px auto
	text-align center
	width 100%
	p
		padding-top 0.3em
	ul
		padding-bottom 0.5em
	ul li
		color #fff
		font-size 13px
		letter-spacing 1px
	.rede
		display inline-block
		vertical-align top
	.fb-like
		margin-top -2px

#mapa2
	height 250px
	width 100%

#preloader
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background #fff
    z-index 500

#loader
    width 100px
    height 100px
    position absolute
    left 50%
    top 50%
    background url(../images/ring-alt.gif) no-repeat center 0
    margin -50px 0 0 -50px

@media screen and (max-width: 1080px)
	.Contenedor-video
		position absolute
		top 120px
		bottom 0
		left 0
		right 0
		height 100%
		width 100%
		z-index -99
		&-bag
			width 100%
			z-index -100
	.Contacto-interno
		width 90% !important
		&-izq, &-der
			width 90%
	.Iconos-centro
		margin 0px auto
		text-align center
		width 90%
		&-iteam
			width 80%
	.Principal-text
		width 95%
		&-parrafo
			margin 0px auto
			width 90%
			p
				padding 0px
	.Secundario-text
		width 95%
		&-parrafo
			width 90%
		&-parrafo img
			padding 10px 0px 10px 0px
	.Servicios-dentro
		width 85%
	.Mapa
		height 226px
		padding-top 130px
		width 100%
	.Mostrar-certificado
		width 90%
		input[type="text"]
			width 80%
		&-detalles
			width 90%

	.Tab-slide
		margin 60px auto 0px auto
		&-inside ul li a
			display block
			width 100%

	.Top-izq
		width 96%
		padding 0.8em 0em 0.5em 0em
	.Top-der
		margin 0px
		width 100%

	.Top-der ul li
		display block
		text-align center
		a
			padding 1em
		a:hover
			border-bottom none
			padding 1em
	.Slide-contenedor
		height 310px