@import "nib"
@font-face
   font-family Open-sans-r
   src url(../fonts/OpenSans-Regular.ttf)
@font-face
   font-family Open-sans-b
   src url(../fonts/OpenSans-Bold.ttf)
@font-face
   font-family Open-sans-l
   src url(../fonts/OpenSans-Light.ttf)
@font-face
   font-family Open-sans-Ital
   src url(../fonts/OpenSans-Italic.ttf)
@font-face
	font-family: BebasNeue
	src url(../fonts/BebasNeue.otf)
@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?at0xm3')
  src url('../fonts/icomoon.eot?at0xm3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?at0xm3') format('truetype'),
    url('../fonts/icomoon.woff?at0xm3') format('woff'),
    url('../fonts/icomoon.svg?at0xm3#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


.icon-home:before
    content "\e900"

.icon-newspaper:before
    content "\e907"

.icon-editar:before
    content "\e903"

.icon-images:before
    content "\e908"

.icon-play:before
    content "\e909"

.icon-book:before
    content "\e90a"

.icon-profile:before
    content "\e90b"

.icon-listar:before
    content "\e904"

.icon-folder-plus:before
    content "\e90c"

.icon-credit-card:before
    content "\e90d"

.icon-pushpin:before
    content "\e90e"

.icon-location:before
    content "\e90f"

.icon-alarm:before
    content "\e910"

.icon-bell:before
    content "\e911"

.icon-user-tie:before
    content "\e901"

.icon-cog:before
    content "\e902"

.icon-bin:before
    content "\e912"

.icon-cloud-upload:before
    content "\e913"

.icon-download3:before
    content "\e914"

.icon-earth:before
    content "\e915"

.icon-attachment:before
    content "\e916"

.icon-eliminar:before
    content "\e905"

.icon-salida:before
    content "\e906"
body
	margin 0px
	padding 0px
 *
   box-sizing border-box

h2
  font-family Open-sans-b

.Nav-admin
   text-align left
   width 100%
.nav_tabs
   margin 0px auto 0px auto
   text-align center
.nav_tabs_back
   height 50px
   width 100%
   ul
      padding 0px
   ul li
      display inline-block
      line-height 48px
      width 25%
      background #f2f2f2
      padding 0 16px
      a
         color #999
         cursor pointer
         display block
         height 100%
         overflow hidden
         font-family Open-sans-b
         font-size 14px
         -o-text-overflow ellipsis
         text-overflow ellipsis
         text-decoration none
         text-transform uppercase
         -webkit-transition color 0.28s ease
         -moz-transition color 0.28s ease
         -o-transition color 0.28s ease
         -ms-transition color 0.28s ease
         transition color 0.28s ease
         width 100%
   .activa
      background #ddd
      border-bottom 2px solid #00BFA4
.tabs
   display -webkit-box
   display -moz-box
   display -webkit-flex
   display -ms-flexbox
   display box
   display flex
   margin 0 auto
   overflow-x auto
   overflow-y hidden
   position relative
   padding 0
   white-space nowrap
.Registro-asp
  width 100%
  &-glob
    padding 20px
    background #f9f9f9
    border 1px solid #ddd
    border-bottom-left-radius 5px
    border-bottom-right-radius 5px
    h2
      font-family Bebasnew
      letter-spacing 1px
      font-weight 300
      font-size 28px
    p
      font-family Open-sans-r
  &-int
    padding 2em 0px 8em 0px
    width 80%
    margin 0px auto
    &-sec
      width 350px
      display inline-block
      padding 0px 10px
      vertical-align top
      h2
        font-family Bebasnew
        letter-spacing 1px
        font-weight 300
        font-size 28px
      label
        color #666
        display block
        font-family Open-sans-b
        font-size 14px
        margin-bottom 5px
      input[type=text]
        width 100%
        padding 10px 10px
        background #fff
        border 1px solid #333
        outline none
        font-size 14px
        margin-bottom 10px
        transition .3s
        &:focus
          border 1px solid #b42d32
      select
        width 100%
        padding 10px 10px
        background #fff
        border 1px solid #333
        outline none
        font-size 14px
        height 38px
        margin-bottom 10px
        transition .3s
        &:focus
          border 1px solid #b42d32
      input[type=submit]
        width 100%
        color #fff
        padding 10px 10px
        background #b42d32
        border 1px solid #b42d32
        outline none
        font-family Open-sans-b
        cursor pointer
        font-size 14px
        margin-bottom 10px
        transition .3s
        &:focus
          border 1px solid #b42d32
        
.Siguiente
  color #fff
  padding 10px 10px
  background #b42d32
  border 1px solid #b42d32
  outline none
  font-family Open-sans-b
  cursor pointer
  font-size 14px
  margin-bottom 10px
  transition .3s
  &:focus
    border 1px solid #b42d32
      
.Con-siguiente
  padding 10px
  width 100%
  

@media screen and (max-width: 1024px)
  .Registro-asp-int-sec
    width 100%